# Reference:
#   - https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/keeping-your-actions-up-to-date-with-dependabot

version: 2
updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check later in the week - the upstream dependabot check in `workflows` runs deliberately early in the week.
      #  Therefore allowing time for the `workflows` update to be merged-and-released first.
      interval: "weekly"
      day: "thursday"
      time: "01:00"
      timezone: "Europe/London"
    groups:
      dependencies:
        patterns:
          - "*"
    labels:
      - "New: Pull Request"
      - "Bot"
