#
# .coveragerc to control coverage.py
#

[run]
branch = True
plugins = Cython.Coverage
include =
    cf_units/*
omit =
    setup.py
    cf_units/_version.py
    cf_units/etc/*
    cf_units/tests/*
    cf_units/_udunits2_parser/parser/*
    cf_units/_udunits2_parser/compile.py
    .eggs


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
