*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

#shared objects
*.so

#config
cf_units/etc/site.cfg

# Created by editors
*~
\#*
\.\#*
*.swp
