prune .github
prune docs
prune requirements
exclude .git_archival.txt
exclude .gitattributes
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude CHANGES
exclude cf_units/etc/site.cfg.*
recursive-include cf_units *.g4 *.jinja *.md *.pxd *.pyx
exclude codecov.yml
exclude INSTALL
exclude tox.ini
