# Reference:
#   - https://github.com/actions/cache
#   - https://github.com/actions/checkout
#   - https://github.com/actions/download-artifact
#   - https://github.com/actions/upload-artifact
#   - https://github.com/prefix-dev/setup-pixi

name: ci-locks

on:
  workflow_dispatch:
  schedule:
    - cron: "3 0 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-locks:
    name: "Build locks"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      SHELLOPTS: "errexit:pipefail"
      NAME: "cf-units-py313"
    steps:
    - name: "Checkout"
      uses: actions/checkout@v5

    - name: "Pixi setup"
      uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
      with:
        run-install: false

    - name: "refresh pixi"
      run: |
        pixi update --json | pixi exec pixi-diff-to-markdown > diff.md
        if [ $(wc -c < diff.md) -lt 10 ]; then
            rm -f diff.md
        fi

    - name: "refresh locks"
      if: ${{ hashFiles('diff.md') }}
      run: |
        pixi workspace export conda-explicit-spec --environment ${{ env.NAME }} --frozen --ignore-pypi-errors requirements
        pixi workspace export conda-environment --environment ${{ env.NAME }} requirements/cf-units.yml

    - name: "Upload lock artifacts"
      uses: actions/upload-artifact@v5
      with:
        path: |
          ${{ github.workspace }}/pixi.lock
          ${{ github.workspace }}/requirements/*


  create-pr:
    needs: build-locks
    name: "Create pull-request"
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v5

    - name: "Download lock artifacts"
      uses: actions/download-artifact@v6
      with:
        path: ${{ github.workspace }}

    - name: "Generate token"
      uses: actions/create-github-app-token@v2
      id: generate-token
      with:
        app_id: ${{ secrets.AUTH_APP_ID }}
        private_key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}

    - name: "Push pull-request"
      id: cpr
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
      with:
        token: ${{ steps.generate-token.outputs.token }}
        add-paths: ${{ github.workspace }}/requirements/*
        commit-message: "updated lock files"
        branch: pixi-auto-update
        delete-branch: true
        title: "[cf-units.ci] pixi lock auto-update"
        body-path: ${{ github.workspace }}/diff.md
        labels: |
          Bot
          New: Pull Request

    - name: "Show pull-request"
      if: steps.cpr.outputs.pull-request-number != ''
      run: |
        echo "pull-request #${{ steps.cpr.outputs.pull-request-number }}"
        echo "pull-request URL ${{ steps.cpr.outputs.pull-request-url }}"
        echo "pull-request operation [${{ steps.cpr.outputs.pull-request-operation }}]"
        echo "pull-request SHA ${{ steps.cpr.outputs.pull-request-head-sha }}"
