# Reference:
#   - https://github.com/actions/cache
#   - https://github.com/actions/checkout
#   - https://github.com/actions/download-artifact
#   - https://github.com/actions/upload-artifact
#   - https://github.com/prefix-dev/setup-pixi

name: ci-locks

on:
  workflow_dispatch:
  schedule:
    - cron: "3 0 * * 1"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-locks:
    name: "Build locks"
    runs-on: ubuntu-latest
    outputs:
      updated: ${{ steps.refresh-locks.outputs.updated }}
    defaults:
      run:
        shell: bash -l {0}
    env:
      SHELLOPTS: "errexit:pipefail"
      NAME: "cf-units-py314"
    steps:
    - name: "Checkout"
      uses: actions/checkout@v6

    - name: "Pixi setup"
      uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e
      with:
        run-install: false

    - name: "refresh pixi"
      run: |
        pixi update --json | pixi exec pixi-diff-to-markdown > diff.md
        if [ $(wc -c < diff.md) -lt 10 ]; then
            rm -f diff.md
        fi

    - name: "refresh locks"
      id: refresh-locks
      if: ${{ hashFiles('diff.md') }}
      run: |
        pixi workspace export conda-explicit-spec --environment ${{ env.NAME }} --frozen --ignore-pypi-errors requirements
        pixi workspace export conda-environment --environment ${{ env.NAME }} requirements/cf-units.yml
        echo "updated=true" >> $GITHUB_OUTPUT

    - name: "Upload lock artifacts"
      uses: actions/upload-artifact@v6
      if: steps.refresh-locks.outputs.updated == 'true'
      with:
        path: |
          ${{ github.workspace }}/pixi.lock
          ${{ github.workspace }}/requirements/*
          ${{ github.workspace }}/diff.md


  create-pr:
    needs: build-locks
    name: "Create pull-request"
    runs-on: ubuntu-latest
    if: needs.build-locks.outputs.updated == 'true'
    steps:
    - name: "Checkout"
      uses: actions/checkout@v6

    - name: "Download lock artifacts"
      uses: actions/download-artifact@v7
      with:
        path: ${{ github.workspace }}

    - name: "Generate token"
      uses: actions/create-github-app-token@v2
      id: generate-token
      with:
        app-id: ${{ secrets.AUTH_APP_ID }}
        private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}

    - name: "Push pull-request"
      id: cpr
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0
      with:
        token: ${{ steps.generate-token.outputs.token }}
        add-paths: |
          ${{ github.workspace }}/pixi.lock
          ${{ github.workspace }}/requirements/*
        commit-message: "updated lock files"
        committer: "Lockfile bot <noreply@github.com>"
        author: "Lockfile bot <noreply@github.com>"
        branch: pixi-auto-update
        delete-branch: true
        title: "[cf-units.ci] pixi lock auto-update"
        body-path: ${{ github.workspace }}/diff.md
        labels: |
          Bot
          New: Pull Request

    - name: "Show pull-request"
      if: steps.cpr.outputs.pull-request-number != ''
      run: |
        echo "pull-request #${{ steps.cpr.outputs.pull-request-number }}"
        echo "pull-request URL ${{ steps.cpr.outputs.pull-request-url }}"
        echo "pull-request operation [${{ steps.cpr.outputs.pull-request-operation }}]"
        echo "pull-request SHA ${{ steps.cpr.outputs.pull-request-head-sha }}"
